<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/facture.css' %}">
    <title>Facture</title>
</head>
<body>
    <div class="invoice">
        <div class="logo">
            <img src="file:///C:/Users/JEEL/PycharmProjects/MonProject/media/images/logo jeoline.PNG" alt="Logo" width="30%">
        </div>
        <div class="header">
            <h1>FACTURE</h1>
        </div>
        <div class="details">
            <div><strong> Jeoline Corporates</strong></div>
            <div> 264 Rue de la Motte-Picquet Bonanjo, Douala, CAMEROUN</div>
            <div>Douala, CAMEROUN, 264 Rue de la Motte-Picquet Bonanjo</div>
            <div> +237 652 21 41 51</div>
            <div> contact@jeolinecorporates.com</div>
            <br>
        </div>
        <br>
        <div class="details">
            <div><strong>client</strong></div>
            <div>{{ client_nom }}</div>
            <div>{{ client_adresse }}</div>
            <div>{{ client_email }}</div>
            <div>{{ client_telephone }}</div>
        </div>
       <table class="items-table">
    <tr>
        <th>DÉSCRIPTION</th>
        <th>QUANTITÉ (heures)</th>
        <th>PRIX</th>
        <th>TOTAL HT</th>
    </tr>
    <tr>
        <td>{{ description }}</td>
        <td>{{ duree }}</td>
        <td> / </td>
        <td>{{ total_ht }}</td>
    </tr>
</table>

        <div class="conditions">
            <p><strong>Remarques / Instructions de paiement :</strong></p>
            <div><strong>TOTAL HT</strong>: {{ total_ht }}</div>
            <div><strong>TVA</strong>: {{ tva }}</div>
            <div><strong>TTC</strong>: {{ total_ttc }}</div>
        </div>
        <div class="footer">
            <div><strong>DATE</strong>: {{ date_creation }}</div>
            <br>
            <div><strong>N° DE FACTURE</strong>: {{ facture }}</div>
            <p>Modalités de paiement (dû à réception, dû apres {{ validite }} )</p>
        </div>
    </div>
</body>
</html>
